body {
  background-color: #ffd1dc;
  color: black;
}

main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24%;
  width: 24%;
  flex-direction: column;
  background-color: black;
  border-radius: 24px;
}

.center .vrselogo {
  width: 240px;
}

.vrselogo img {
  width: 100%;
}

.center .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin-top: 50px;
}

.btns a {
  text-decoration: none;
  color: #ffd1dc;
  padding: 6px;
  border: 1px solid #ffd1dc;
}

.btns a:hover {
  color: #ff5600;
  border: 1px solid #ff5600;
}

footer {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

footer .corporate a {
  color: #555555;
  text-decoration: none;
  font-weight: 900;
  font-family: 'Inter', sans-serif;
}

footer .corporate a:hover {
  color: #777777;
}

footer .corporate, .corporate div {
  font-size: 19px;
  align-items: center;
}

.mobile {
  display: none;
}

@media (max-width: 1060px) {
  .center {
    width: 76%;
    height: 26%;
  }
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
}

@media (max-height: 770px) {
  .center {
    height: 30%;
  }
}